#map {
  height: 80vh;
  width: 100%;
}
#panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  width: fit-content;
}

#contentRow {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding: 12px;
  align-items: flex-start;
}